@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #ff69b4;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

p {
    line-height: 1.6;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.highlight {
    background-color: #ffebcd;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ffebcd;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Додаткові ефекти для стилю кохання */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffecd2 25%, #fcb69f 25%, #fcb69f 50%, #ffecd2 50%, #ffecd2 75%, #fcb69f 75%, #fcb69f 100%);
    opacity: 0.2;
    z-index: -1;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

button:hover {
    background-color: #ff1493;
}

a {
    color: #ff69b4;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: underline;
}


.stars_wrapper {
    width:100%;
    height: 100%;
    background-color: #9759aa;

}

.second_block_wrapper {
    width:100%;
    height: 100%;
}
